    <form name="loginForm" #loginForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label floating>用户名</ion-label>
          <ion-input
            [(ngModel)]="loginModel.username"
            #username="ngModel"
            name="username"
            type="text"
            required
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>密码</ion-label>
          <ion-input
            [(ngModel)]="loginModel.password"
            #password="ngModel"
            name="password"
            type="password"
            required
          >
          </ion-input>
        </ion-item>
      </ion-list>

      <ion-spinner name="bubbles" *ngIf="isLoading"></ion-spinner>
      <div *ngIf="!username.valid && (username.dirty || username.touched)" class="alert alert-danger padding">请输入用户名</div>
      <div *ngIf="!password.valid && (password.dirty || password.touched)" class="alert alert-danger padding">请输入密码</div>

      <div class="padding">{{loginStatusMessage}}</div>
      <button ion-button block (click)="login()" [disabled]="!loginForm.valid || isLoading">登录</button>


    </form>